<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>be.cash Block Explorer</title>

  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <link rel="stylesheet" href="/code/styles/index.css?hash=80d7734">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/qr-creator/dist/qr-creator.min.js"></script>
  <script type="module" src="https://unpkg.com/@layflags/rolling-number@1.0.0/rolling-number.js"></script>
  <script type="text/javascript" src="/code/moment.min.js?v=0"></script>
  <script type="text/javascript" src="/code/common.js?hash=80d7734"></script>
</head>

<body class="{% block body_classes %}{% endblock %}">
  <div id="main">
    <div class="ui main menu">
      <a class="header item" href="/">
        <img class="logo" src="/assets/logo.png" />
      </a>

      <div class="item">
        <div id="search-box" class="ui transparent icon input">
          <input
            id="search-bar"
            type="text"
            placeholder="Search blocks, transactions, adddresses, tokens..."
            onchange="searchBarChange()"
            onkeyup="searchBarChange()"
          >
            <i id="#search-button" class="search link icon" onclick="searchButton()"></i>
          </input>
        </div>
      </div>

      <a class=" right floated item" href="/blocks">Blocks</a>
    </div>

    {% block content %}{% endblock %}
  </div>

  <div id="footer" class="{% block footer_classes %}{% endblock %} ui inverted vertical footer segment">
    <div class="ui container">be.cash Explorer</div>
  </div>
</body>
</html>
