{% macro render(index, input, tx, slp_genesis_info) %}
  {% let is_token = input.slp_token|check_is_token %}
  {% let destination = input.output_script|destination_from_script(is_token) %}
  {% let decoded_input_script = input.input_script|get_script %}

  <tr>
    {% match input.prev_out %}
      {% when Some with (prev_out) %}
        {% if prev_out|check_is_coinbase %}
          <td class="one wide">
            <div class="ui green horizontal label">Coinbase</div>
          </td>
        {% else %}
          <td class="one wide">
            <a href="/tx/{{ prev_out.txid|to_le_hex }}">
              <i class="horizontally flipped icon sign out"></i>
            </a>
          </td>
          <td class="one wide">
            {{ index }}
          </td>
          <td class="one wide">
            {% match input.slp_token %}
              {% when Some with (_) %}
                <img src="/assets/slp-logo.png" />
              {% when None %}
            {% endmatch %}
          </td>
          <td class="seven wide">
            <div class="destination hex">
              {% match destination %}
                {% when Destination::Address with (address) %}
                  <a href="/address/{{ address.as_str() }}">
                    {{ address.as_str() }}
                  </a>
                {% when Destination::P2PK with (pubkey) %}
                  Pubkey: {{ pubkey|hexify_u8_vector }}
                {% when Destination::Unknown with (_bytes) %}
                  Unknown
                {% when Destination::Nulldata with (_ops) %}
                  Unreachable
              {% endmatch %}
            </div>
          </td>
        {% endif %}
      {% when None %}
    {% endmatch %}

    <td colspan="2">
      <div class="amount hex">
        {% match input.slp_token %}
          {% when Some with (slp_token) %}
            {% match tx.slp_tx_data %}
              {% when Some with (slp_tx_data) %}
                {% match slp_genesis_info %}
                  {% when Some with (genesis_info) %}
                    {% if slp_token.amount > 0 || slp_token.is_mint_baton %}
                      {% if slp_token.is_mint_baton %}
                        <div class="ui green horizontal label">Mint baton</div>
                      {% else %}
                        {{ slp_token.amount|to_i128|render_token_amount(genesis_info.decimals)|safe }} {{ genesis_info.token_ticker|string_from_lossy_utf8 }}
                      {% endif %}
                    {% endif %}

                    <div>
                      <small>{{ input.value|render_sats|safe }} XEC</small>
                    </div>
                  {% when None %}
                    {{ input.value|render_sats|safe }} XEC
                  {% when None %}
                {% endmatch %}
              {% when None %}
            {% endmatch %}
          {% when None %}
            {{ input.value|render_sats|safe }} XEC
        {% endmatch %}
      </div>
    </td>
  </tr>
  <tr class="tx-transaction__script-data display-none">
    <td colspan="6">
      <p>
        <strong>Script Hex</strong>
        <div class="hex">{{ input.input_script|hexify_u8_vector }}</div>
      </p>
      <p>
        <strong>Script Decoded</strong>
        <div class="hex">{{ decoded_input_script }}</div>
      </p>
    </td>
  </tr>
{% endmacro %}
