{% macro render(index, output, tx, slp_genesis_info) %}
  {% let is_token = output.slp_token|check_is_token %}
  {% let destination = output.output_script|destination_from_script(is_token) %}
  {% let decoded_output_script = output.output_script|get_script %}

  <tr>
    <td class="one wide">{{ index }}</td>
    <td class="one wide">
      {% if is_token %}
        <img src="/assets/slp-logo.png" />
      {% endif %}
    </td>
    <td class="seven wide">
      <div class="destination hex">
        {% match destination %}
          {% when Destination::Address with (address) %}
            <a href="/address/{{ address.as_str() }}">
              {{ address.as_str() }}
            </a>
          {% when Destination::Nulldata with (_ops) %}
            OP_RETURN data
          {% when Destination::P2PK with (pubkey) %}
            Pubkey: {{ pubkey|hexify_u8_vector }},
          {% when Destination::Unknown with (_bytes) %}
            Unknown
        {% endmatch %}
      </div>
    </td>
    <td colspan="2">
      <div class="amount hex">
        {% match output.slp_token %}
          {% when Some with (slp_token) %}
            {% match tx.slp_tx_data %}
              {% when Some with (slp_tx_data) %}
                {% match slp_genesis_info %}
                  {% when Some with (genesis_info) %}
                    {% if slp_token.amount > 0 || slp_token.is_mint_baton %}
                      {% if slp_token.is_mint_baton %}
                        <div class="ui green horizontal label">Mint baton</div>
                      {% else %}
                        {{ slp_token.amount|to_i128|render_token_amount(genesis_info.decimals)|safe }} {{ genesis_info.token_ticker|string_from_lossy_utf8 }}
                      {% endif %}
                    {% endif %}

                    <div>
                      <small>{{ output.value|render_sats|safe }} XEC</small>
                    </div>
                  {% when None %}
                    {{ output.value|render_sats|safe }} XEC
                {% endmatch %}
              {% when None %}
            {% endmatch %}
          {% when None %}
            {{ output.value|render_sats|safe }} XEC
        {% endmatch %}
      </div>
    </td>
    <td class="one wide">
      {% match output.spent_by %}
        {% when Some with (outpoint) %}
          <a href="/tx/{{ outpoint.txid|to_le_hex }}">
            <i class="icon sign out"></i>
          </a>
        {% when None %}
          <i class="disabled icon sign out"></i>
      {% endmatch %}
    </td>
  </tr>
  <tr class="tx-transaction__script-data display-none">
    <td colspan="6">
      <p>
        <strong>Script Hex</strong>
        <div class="hex">{{ output.output_script|hexify_u8_vector }}</div>
      </p>
      <p>
        <strong>Script Decoded</strong>
        <div class="hex">{{ decoded_output_script }}</div>
      </p>
    </td>
  </tr>
{% endmacro %}
