{% macro render(tx, slp_genesis_info, slp_meta, token_input, token_output) %}
  {% match slp_genesis_info %}
    {% when Some with (genesis_info) %}
      <table class="tx-details-table ui very basic table">
        <tbody>
          <tr>
            <td>Token Ticker</td>
            <td>{{ genesis_info.token_ticker|string_from_lossy_utf8 }}</td>
          </tr>
          <tr>
            <td>Token Name</td>
            <td>{{ genesis_info.token_name|string_from_lossy_utf8 }}</td>
          </tr>
          <tr>
            <td>Token Type</td>
            <td>
              {% match slp_meta %}
                {% when Some with (slp_meta) %}
                  {% match slp_meta.token_type() %}
                    {% when SlpTokenType::Fungible %}
                      Type1 (
                      <a href="https://github.com/simpleledger/slp-specifications/blob/master/slp-token-type-1.md">
                        Specification
                      </a>
                      )
                    {% when SlpTokenType::Nft1Group %}
                      NFT1 Group (
                      <a href="https://github.com/simpleledger/slp-specifications/blob/master/slp-nft-1.md">
                        Specification
                      </a>
                      )
                    {% when SlpTokenType::Nft1Child %}
                      NFT1 Child (
                      <a href="https://github.com/simpleledger/slp-specifications/blob/master/slp-nft-1.md">
                        Specification
                      </a>
                      )
                    {% when _ %}
                      Unknown
                  {% endmatch %}
                {% when None %}
                    Unknown
              {% endmatch %}
            </td>
          </tr>
          <tr>
            <td>Transaction Type</td>
            <td>
              {% match slp_meta %}
                {% when Some with (slp_meta) %}
                  {% match slp_meta.token_type() %}
                    {% when SlpTokenType::Fungible %}
                      {% match slp_meta.tx_type() %}
                        {% when SlpTxType::Genesis %}
                          GENESIS
                        {% when SlpTxType::Mint %}
                          MINT
                        {% when SlpTxType::Send %}
                          SEND
                        {% when _ %}
                      {% endmatch %}
                    {% when SlpTokenType::Nft1Group %}
                      {% match slp_meta.tx_type() %}
                        {% when SlpTxType::Genesis %}
                          NFT1 GROUP GENESIS
                        {% when SlpTxType::Mint %}
                          NFT1 GROUP MINT
                        {% when SlpTxType::Send %}
                          NFT1 GROUP SEND
                        {% when _ %}
                      {% endmatch %}
                    {% when SlpTokenType::Nft1Child %}
                      {% match slp_meta.tx_type() %}
                        {% when SlpTxType::Genesis %}
                          NFT1 Child GENESIS
                        {% when SlpTxType::Send %}
                          NFT1 Child SEND
                        {% when _ %}
                      {% endmatch %}
                    {% when _ %}
                      Unknown
                  {% endmatch %}
                {% when None %}
              {% endmatch %}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="ui vertical divider tx-details-table__divider"></div>
      <table class="tx-details-table ui very basic table">
        <tbody>
          <tr>
            <td>Token Output</td>
            <td>
              {{ token_output|render_token_amount(genesis_info.decimals)|safe }} {{ genesis_info.token_ticker|string_from_lossy_utf8 }}
              {% if token_output < token_input %}
                <br />
                ({{ (token_input - token_output)|render_token_amount(genesis_info.decimals)|safe }} {{ genesis_info.token_ticker|string_from_lossy_utf8 }} burned)
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Document URI</td>
            <td>
              {% let token_url = genesis_info.token_document_url|string_from_lossy_utf8 %}
              <a href="{{ token_url }}" target="_blank">{{ token_url }}</a>
            </td>
          </tr>
          <tr>
            <td>Document Hash</td>
            <td>
              {% match genesis_info.token_document_url.len() %}
                {% when 0 %}
                  <div class="ui black horizontal label">Not set</div>
                {% when _ %}
                  <div class="hex">{{ genesis_info.token_document_hash|hexify_u8_vector }}</div>
              {% endmatch %}
            </td>
          </tr>
          <tr>
            <td>Decimals</td>
            <td>{{ genesis_info.decimals }}</div>
          </tr>
        </tbody>
      </table>
    {% when None %}
  {% endmatch %}
{% endmacro %}
