@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

#blocks-table {
  height: 600px;
  overflow-y: hidden;
}

#blocks-table > .webix_dtable {
  margin: auto;
}

#blocks .size {
  text-align: right;
}

.webix_dtable .hash {
  font-family: 'Ubuntu Mono';
}

.hex {
  font-family: 'Ubuntu Mono';
  word-break: break-all;
}

#txs-table {
  height: 600px;
}

#txs-table .webix_view {
  font-size: 13px !important;
}

#txs-table .fee .webix_cell {
  overflow: visible;
}

#txs-table .fee-per-byte {
  text-align: right;
}

#txs-table small {
  opacity: 0.7;
}

.zeros {
  opacity: 0.3; 
}

.webix_view {
  font-family: inherit;
}

.webix_ss_header, .webix_ss_header > div, .webix_ss_header > div > div {
  font-family: inherit !important;
}

.digit-sep {
  margin-right: 2px;
}

.main.menu .item img.logo {
  margin-right: 1.5em;
}

#search-box {
  width: 550px;
}

#tx-hash .label {
  margin-left: 8px;
}

#inputs img, #outputs img {
  width: 16px;
  height: 16px;
}

#inputs .destination, #outputs .destination {
  width: 200px;
}

#inputs .amount, #outputs .amount {
  font-size: 110%;
}

.toggle i {
  cursor: pointer;
}
