h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu Mono'!important;
  color: #161c33;
}

.no-padding {
  padding: 0!important;
}

.blur {
  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.non-selectable {
  user-select: none;
}

.homepage__welcome  {
  min-height: calc(100% - 50px - 56px - 1rem - 50px);
  padding-top: 48px;
  box-sizing: border-box;
}

.homepage__ludwig-image {
  position: absolute;
  height: 50vh;
  top: 14.6%;
  left: 40%;
  right: 0;
  margin: 0 auto;
  border-radius: 22vh;
  z-index: 999;
  pointer-events: none;
}

.homepage__ludwig-circle {
  position: absolute;
  height: 50vh;
  width: 50vh;
  top: 15%;
  left: 40%;
  right: 0;
  margin: 0 auto;
  border-radius: 25vh;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.50) 0%, rgba(22,28,51,0.50) 67%);
  z-index: 999;
}

.webix_dtable .hash {
  font-family: 'Ubuntu Mono';
}

.hash {
  font-family: 'Ubuntu Mono';
}

.hex {
  font-family: 'Ubuntu Mono';
  word-break: break-all;
}

#txs-table {
  height: 600px;
}

#block-txs #txs-table .webix_view {
  font-size: 13px !important;
}

#txs-table .fee .webix_cell {
  overflow: visible;
}

#txs-table .fee-per-byte {
  text-align: right;
}

#txs-table small {
  opacity: 0.7;
}

.zeros {
  opacity: 0.3; 
}

.webix_view {
  font-family: inherit;
}

.webix_ss_header, .webix_ss_header > div, .webix_ss_header > div > div {
  font-family: inherit !important;
}

.digit-sep {
  margin-right: 2px;
}

.main.menu .item img.logo {
  width: 81px!important;
}

#search-box {
  width: 550px;
}

#tx-hash .label {
  margin-left: 8px;
}

#inputs img, #outputs img {
  width: 16px;
  height: 16px;
}

#inputs .destination, #outputs .destination {
  width: 200px;
}

#inputs .amount, #outputs .amount {
  font-size: 110%;
}

.toggle i {
  cursor: pointer;
}

#coins a {
  cursor: pointer;
}

.address-sats {
  display: flex;
  align-items: center;
}

.balance {
  flex: 1;
  margin-left: 25px;
}

.balance h1 {
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.balance h4 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.balance h3 {
  margin-top: 0px;
}

.balance h1 .show-coins {
  font-size: 20px;
  margin-left: 25px;
}

.addresses {
  margin-bottom: 15px !important;
}

.qr-code {
  margin-right: 15px;
}

.qr-kind {
  margin-right: 55px;
}

.qr-kind > .address1, .qr-kind > .address2 {
  margin-bottom: 12px;
}

#selected-address-1 .address1,
#selected-address-2 .address2,
#selected-address-3 .address3 {
  font-weight: bold;
}

#sats-coins {
  margin: 0 25px 15px 25px;
}

#sats-coins-table {
  max-height: 250px;
  overflow-y: scroll;
}

#coins .token-amount {
  padding-left: 65px;
  width: 1px;
  white-space: nowrap;
}

#coins .token-table {
  padding-left: 65px;
}

#addr-txs #txs-table .webix_view, #addr-txs #txs-table .webix_hcell {
  font-size: 12px !important;
}

#footer {
  margin-top: 50px;
  padding: 15px;
  height: 50px;
}

#pagination {
  margin-top: 10px;
}

.bottom-pagination {
  text-align: center;
}

.ui.pagination.menu .item {
  min-width: 0 !important;
}

.ui.pagination.menu .item.disabled {
  padding-left: 0.35em;
  padding-right: 0.35em;
}

.pagination__nav-button {
  background-color: rgba(251, 123, 129, 0.2)!important;
  border: 1px solid white;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #fb7b81;
  box-sizing: border-box;
}

.wave {
  background: url(../../assets/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 66s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 66s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 14s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.tx-header__title {
  width: fit-content;
  float: left;
}

.tx-header__label {
  margin: 5px 0 0 5px!important;
  float: left;
}

.tx-details {
  justify-content: space-between;
}

table.tx-hash-table td:nth-child(2) {
  text-align: right!important;
}

table.tx-hash-table tr:first-child td {
  padding-top: 0!important;
}

table.tx-hash-table tr:last-child td {
  padding-bottom: 0!important;
}

table.tx-details-table {
  width: 48% !important;
  align-self: baseline;
}

table.tx-details-table tr td {
  border-top: 0 !important;
}

table.tx-details-table tbody td:nth-child(2) {
  text-align: right;
}

table.tx-details-table tr:first-child td {
  padding-top: 0!important;
}

table.tx-details-table tr:last-child td {
  padding-bottom: 0!important;
}

.ui.vertical.divider.tx-details-table__divider {
  height: 40%;
}

.ui.vertical.divider.tx-details-table__divider:after,
.ui.vertical.divider.tx-details-table__divider:before {
  height: 100%;
}

.tx-transaction__inputs,
.tx-transaction__middle,
.tx-transaction__outputs {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tx-transaction__inputs {
  width: 47.5%;
}

.tx-transaction__middle {
  width: 5%;
}

.tx-transaction__outputs {
  width: 47.5%;
}

.tx-transaction__toggle-wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.ui.slider.checkbox.tx-transaction__toggle {
  align-self: center;
}

.tx-transaction__arrow-separator {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  align-self: center;
  margin: 0 auto;
  height: 100%;
}

.amount.hex {
  text-align: right;
}

.block-listing__datatable {
  margin-top: 10px;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom-color: rgb(251, 123, 129)!important;
  text-align: left!important;
  font-family: inherit !important;
  font-weight: 700;
  padding-bottom: 8px!important;
}

table.dataTable tbody td {
  font-weight: 400;
  border-bottom: 1px solid #edeff0;
  padding: 7px 5px!important;
  color: #475466;
}

table.dataTable > tbody > tr:last-child > td {
  border-bottom: 0;
}

table.dataTable tbody tr:hover {
  background: rgba(251, 123, 129, 0.1);
}

table.block-listing__datatable.compact.dataTable thead th {
  text-align: left!important;
}

table.dataTable.no-footer {
  border-bottom: 0!important;
}

#blocks-table_length {
  margin-bottom: 10px;
  float: right;
}

#blocks-table_paginate {
  display: none;
}

#blocks-table_info {
  display: none;
}

.dtr-control::before {
  height: 1em!important;
  width: 1em!important;
  background-color: #fb7b81!important;
  border: none!important;
  box-shadow: 2px 2px 15px 8px #000000;
    -webkit-box-shadow: 2px 2px 15px 8px #000000;
}

.block-listing__fixed-nav-icon {
  position: fixed;
  right: 10px;
  bottom: 25px;
  z-index: 100;
}

.datatable__block_listing
.webix_dtable,
.webix_view {
  border: 0;
}

.datatable__block_listing
.webix_ss_header,
.webix_hs_center,
.webix_hcolumn,
.webix_hcell {
  background: transparent;
  border: 0;
  font-weight: 700;
  border-bottom-color: rgb(251, 123, 129)!important;
}

.datatable__block_listing-hover {
  background: rgba(251, 123, 129, 0.1);
}

.loader__container {
  width: 100%;
}

.loader__container--fullpage {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  z-index: 9999;
}

.loader__outer {
  position: relative;
  width: 150px;
  height: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 2px solid transparent;
  border-top-color: #000000;
  box-shadow: 0 0 5px rgb(251, 123, 129);
  border-radius: 50%;
  -webkit-animation: spin9 1.5s ease infinite;
          animation: spin9 1.5s ease infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #000000;
  box-shadow: 0 0 5px rgb(251, 123, 129);
  -webkit-animation: spin9_x 1s linear infinite;
          animation: spin9_x 1s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #000000;
  box-shadow: 0 0 5px rgb(251, 123, 129);
  -webkit-animation: spin9 1.5s linear infinite;
          animation: spin9 1.5s linear infinite;
}

@-webkit-keyframes spin9 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spin9 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes spin9_x {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
@keyframes spin9_x {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
