h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu Mono'!important;
  color: #161c33;
}

.hidden {
  display: none;
}

.homepage__welcome  {
  min-height: calc(100% - 50px - 56px - 1rem - 50px);
  padding-top: 48px;
  box-sizing: border-box;
}

.homepage__ludwig-image {
  position: absolute;
  height: 50vh;
  top: 14.6%;
  left: 40%;
  right: 0;
  margin: 0 auto;
  border-radius: 22vh;
  z-index: 999;
  pointer-events: none;
}

.homepage__ludwig-circle {
  position: absolute;
  height: 50vh;
  width: 50vh;
  top: 15%;
  left: 40%;
  right: 0;
  margin: 0 auto;
  border-radius: 25vh;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.50) 0%, rgba(22,28,51,0.50) 67%);
  z-index: 999;
}

.webix_dtable .hash {
  font-family: 'Ubuntu Mono';
}

.hex {
  font-family: 'Ubuntu Mono';
  word-break: break-all;
}

#txs-table {
  height: 600px;
}

#block-txs #txs-table .webix_view {
  font-size: 13px !important;
}

#txs-table .fee .webix_cell {
  overflow: visible;
}

#txs-table .fee-per-byte {
  text-align: right;
}

#txs-table small {
  opacity: 0.7;
}

.zeros {
  opacity: 0.3; 
}

.webix_view {
  font-family: inherit;
}

.webix_ss_header, .webix_ss_header > div, .webix_ss_header > div > div {
  font-family: inherit !important;
}

.digit-sep {
  margin-right: 2px;
}

.main.menu .item img.logo {
  width: 81px!important;
}

#search-box {
  width: 550px;
}

#tx-hash .label {
  margin-left: 8px;
}

#inputs img, #outputs img {
  width: 16px;
  height: 16px;
}

#inputs .destination, #outputs .destination {
  width: 200px;
}

#inputs .amount, #outputs .amount {
  font-size: 110%;
}

.toggle i {
  cursor: pointer;
}

#coins a {
  cursor: pointer;
}

.address-sats {
  display: flex;
  align-items: center;
}

.balance {
  flex: 1;
  margin-left: 25px;
}

.balance h1 {
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.balance h4 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.balance h3 {
  margin-top: 0px;
}

.balance h1 .show-coins {
  font-size: 20px;
  margin-left: 25px;
}

.addresses {
  margin-bottom: 15px !important;
}

.qr-code {
  margin-right: 15px;
}

.qr-kind {
  margin-right: 55px;
}

.qr-kind > .address1, .qr-kind > .address2 {
  margin-bottom: 12px;
}

#selected-address-1 .address1,
#selected-address-2 .address2,
#selected-address-3 .address3 {
  font-weight: bold;
}

#sats-coins {
  margin: 0 25px 15px 25px;
}

#sats-coins-table {
  max-height: 250px;
  overflow-y: scroll;
}

#coins .token-amount {
  padding-left: 65px;
  width: 1px;
  white-space: nowrap;
}

#coins .token-table {
  padding-left: 65px;
}

#addr-txs #txs-table .webix_view, #addr-txs #txs-table .webix_hcell {
  font-size: 12px !important;
}

#footer {
  margin-top: 50px;
  padding: 15px;
  height: 50px;
}

.bottom-pagination {
  text-align: center;
}

.ui.pagination.menu .item {
  min-width: 0 !important;
}

.ui.pagination.menu .item.disabled {
  padding-left: 0.35em;
  padding-right: 0.35em;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #fb7b81;
  box-sizing: border-box;
}

.wave {
  background: url(../../assets/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 66s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 66s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 14s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
