{% extends "base.html" %}

{% block footer_classes %}visibility-hidden{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui sixteen column grid">
      <div class="row">
        <div class="ten wide column">
          <h4 class="address__balance-heading">Balance</h4>
          <h1 class="address__balance-amount-primary">
            <!-- <layflags-rolling-number> -->
              {{ cash_balance.sats_amount|render_sats|safe }}
            <!-- </layflags-rolling-number> XEC -->
          </h1>

          {% if token_dust > 0 %}
            <h3 class="address__balance-amount-secondary">+{{ token_dust|render_sats|safe }} XEC in token dust</h3>
          {% else %}
            <div>
              <i class="blue info circle icon"></i> Does not contain eTokens
            </div>
          {% endif %}
          <table id="address__selector" class="address__selector-table ui very basic selectable table">
            <tbody>
              <tr class="left marked" data-cube-side="1">
                <td></td>
                <td>Cash Address</td>
                <td>{{ sats_address.cash_addr() }}</td>
              </tr>

              <tr data-cube-side="2">
                <td></td>
                <td>Token Address</td>
                <td>{{ token_address.cash_addr() }}</td>
              </tr>

              <tr data-cube-side="3">
                <td></td>
                <td>Legacy Address</td>
                <td>{{ legacy_address }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="right floated column" style="width: fit-content">
          <div class="address__qr-code-wrapper ui cube shape" data-cube-active-side="1">
            <div class="sides">
              <div class="address__qr-code side active cash-address">
                <div class="content">
                  <div id="qr-cash-address" data-address="{{ sats_address.cash_addr() }}"></div>
                </div>
              </div>

              <div class="address__qr-code side token-address">
                <div class="content">
                  <div id="qr-token-address" data-address="{{ token_address.cash_addr() }}"></div>
                </div>
              </div>

              <div class="address__qr-code side legacy-address">
                <div class="content">
                  <div id="qr-legacy-address" data-address="{{ legacy_address }}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h4 class="address__heading">Details</h4>
      <div class="address__details row">
        <div class="eight wide column">
          <table class="address__details-table ui table very basic compact">
            <tbody>
              <tr>
                <td>Transactions</td>
                {% match address_num_txs %}
                  {% when 1 %}
                    <td>{{ address_num_txs }}</td>
                  {% else %}
                    <td>{{ address_num_txs }}</td>
                {% endmatch %}
              </tr>

              <tr>
                <td class="ten wide">Total Received</td>
                <td class="six wide" id="address-total-received"><div class="ui active mini inline loader"></div></td>
              </tr>

              <tr>
                <td class="ten wide">Total Sent</td>
                <td class="six wide" id="address-total-sent"><div class="ui active mini inline loader"></div></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="eight wide column">
          <table class="address__details-table ui table very basic compact">
            <tbody>
              <tr>
                <td class="ten wide">Unspent Transaction Outputs</td>
                <td id="address-total-utxos" class="six wide"><div class="ui active mini inline loader"></div></td>
              </tr>

              <tr>
                <td class="ten wide">First balance change</td>
                <td id="address-first-balance-change" class="six wide"><div class="ui active mini inline loader"></div></td>
              </tr>

              <tr>
                <td class="ten wide">Last balance change</td>
                <td id="address-last-balance-change" class="six wide"><div class="ui active mini inline loader"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="address__menu-tabs ui top basic secondary menu">
      <div class="address__menu-tab item active" data-tab="transactions"><h4>Transactions</h4></div>
      <div class="address__menu-tab item" data-tab="ecash-outpoints"><h4>eCash Outpoints</h4></div>
      {% if token_dust > 0 %}
        <div class="address__menu-tab item" data-tab="etoken-balances"><h4>eToken Balances</h4></div>
        <div class="address__menu-tab item" data-tab="etoken-outpoints"><h4>eToken Outpoints</h4></div>
      {% endif %}
    </div>

    <div class="ui bottom tab active" data-tab="transactions">
      <table id="address-txs-table" class="block-listing__datatable dataTable compact responsive nowrap no-footer" style="width: 100%">
        <thead>
            <tr>
                <th>Age</th>
                <th>Date</th>
                <th>ID</th>
                <th>Block Height</th>
                <th>Size</th>
                <th>Fee [sats]</th>
                <th>Inputs</th>
                <th>Outputs</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="blur">
        </tbody>
      </table>
    </div>

    <div class="ui bottom tab" data-tab="ecash-outpoints">
      <table id="outpoints-table" class="block-listing__datatable dataTable compact responsive nowrap no-footer" style="width: 100%">
        <thead>
            <tr>
                <th>Outpoint</th>
                <th>Block</th>
                <th>XEC Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="blur">
        </tbody>
      </table>
    </div>

    {% if token_dust > 0 %}
      <div class="ui bottom tab" data-tab="etoken-balances">
        <table id="address-token-balances-table" class="block-listing__datatable dataTable compact responsive nowrap no-footer" style="width: 100%">
          <thead>
              <tr>
                  <th>Amount</th>
                  <th>Ticker</th>
                  <th>Name</th>
                  <th>Dust</th>
                  <th></th>
              </tr>
          </thead>
          <tbody class="blur">
          </tbody>
        </table>
      </div>

      <div class="ui bottom tab" data-tab="etoken-outpoints">
        <table id="address-token-outpoints-table" class="block-listing__datatable dataTable compact responsive nowrap no-footer" style="width: 100%">
          <thead>
              <tr>
                  <th>Outpoint</th>
                  <th>Block</th>
                  <th>eToken Amount</th>
                  <th>Dust</th>
                  <th></th>
              </tr>
          </thead>
          <tbody class="blur">
          </tbody>
        </table>
      </div>
    {% endif %}

    <div class="ui container">
      <div id="pagination" class="bottom-pagination" data-total-entries="{{ address_num_txs }}"></div>
      <div class="block-listing__fixed-nav-icon">
        <button class="circular ui icon button" onclick="scrollToBottom()">
          <i class="angle down icon"></i>
        </button>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/code/address.js?hash=80d7734"></script>

{% endblock %}
