{% extends "base.html" %}

{% block footer_classes %}hidden{% endblock %}

{% block content %}
  <div class="ui container">
    <tr>
      <td colspan="20">
        <div class="address-sats">
          <div class="balance">
            <h4>Balance</h4>
            <h1>{{ cash_balance.sats_amount|render_sats|safe }} XEC</h1>

            {% if token_dust > 0 %}
              <h3>+{{ token_dust|render_sats|safe }} XEC in token dust</h3>
            {% endif %}

            {% match address_num_txs %}
              {% when 1 %}
                {{ address_num_txs }} Transaction
              {% else %}
                {{ address_num_txs }} Transactions
            {% endmatch %}

            <table class="addresses ui table very basic collapsing celled compact">
              <tbody>
                <tr>
                  <td>Cash Address</td>
                  <td>{{ sats_address.cash_addr() }}</td>
                </tr>

                <tr>
                  <td>Token Address</td>
                  <td>{{ token_address.cash_addr() }}</td>
                </tr>

                <tr>
                  <td>Legacy Address</td>
                  <td>{{ legacy_address }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="qr-code">
            <img id="qr-code-img" src="/address-qr/{{ address.cash_addr() }}" />
          </div>

          {% if sats_address.cash_addr() == address.cash_addr() %}
            <div class="qr-kind" id="selected-address-1">
          {% else %}
            <div class="qr-kind" id="selected-address-2">
          {% endif %}
            <div class="address1">
              <a onclick="$('#qr-code-img').attr('src', '/address-qr/{{ sats_address.cash_addr() }}'); $('.qr-kind').attr('id', 'selected-address-1')"}>
                  XEC Address
              </a>
            </div>

            <div class="address2">
              <a onclick="$('#qr-code-img').attr('src', '/address-qr/{{ token_address.cash_addr() }}'); $('.qr-kind').attr('id', 'selected-address-2')"}>
                  eToken Address
              </a>
            </div>

            <div class="address3">
              <a onclick="$('#qr-code-img').attr('src', '/address-qr/{{ legacy_address }}'); $('.qr-kind').attr('id', 'selected-address-3')"}>
                  Legacy Address
              </a>
            </div>
          </div>
        </div>

        <div id="sats-coins" style="display: none;">
          <div id="sats-coins-table"></div>
        </div>
      </td>
    </tr>

    <div class="address__menu-tabs ui top basic secondary menu">
      <div class="address__menu-tab item active" data-tab="transactions">Transactions</div>
      <div class="address__menu-tab item" data-tab="ecash-outpoints">eCash Outpoints</div>
      {% if !json_balances.is_empty() %}
        <div class="address__menu-tab item" data-tab="etoken-balances">eToken Balances</div>
        <div class="address__menu-tab item" data-tab="etoken-outpoints">eToken Outpoints</div>
      {% endif %}
    </div>

    <div class="ui bottom tab active" data-tab="transactions">
      <table id="address-txs-table" class="block-listing__datatable dataTable compact responsive nowrap no-footer" style="width: 100%">
        <thead>
            <tr>
                <th>Age</th>
                <th>Date</th>
                <th>ID</th>
                <th>Block Height</th>
                <th>Size</th>
                <th>Fee [sats]</th>
                <th>Inputs</th>
                <th>Outputs</th>
                <th>Amount XEC</th>
                <th>Amount Token</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="blur">
        </tbody>
      </table>
    </div>

    <div class="ui bottom tab" data-tab="ecash-outpoints">
      <table id="outpoints-table" class="block-listing__datatable dataTable compact responsive nowrap no-footer" style="width: 100%">
        <thead>
            <tr>
                <th>Outpoint</th>
                <th>Block</th>
                <th>XEC Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="blur">
        </tbody>
      </table>
    </div>

    {% if !json_balances.is_empty() %}
      <div class="ui bottom tab" data-tab="etoken-balances">
        <table id="address-token-balances-table" class="block-listing__datatable dataTable compact responsive nowrap no-footer" style="width: 100%">
          <thead>
              <tr>
                  <th>Amount</th>
                  <th>Ticker</th>
                  <th>Name</th>
                  <th>Dust</th>
                  <th></th>
              </tr>
          </thead>
          <tbody class="blur">
          </tbody>
        </table>
      </div>

      <div class="ui bottom tab" data-tab="etoken-outpoints">
        <table id="address-token-outpoints-table" class="block-listing__datatable dataTable compact responsive nowrap no-footer" style="width: 100%">
          <thead>
              <tr>
                  <th>Outpoint</th>
                  <th>Block</th>
                  <th>eToken Amount</th>
                  <th>Dust</th>
                  <th></th>
              </tr>
          </thead>
          <tbody class="blur">
          </tbody>
        </table>
      </div>
    {% endif %}

    <div class="ui container">
      <div id="pagination" class="bottom-pagination" data-total-entries="{{ address_num_txs }}"></div>
      <div class="block-listing__fixed-nav-icon">
        <button class="circular ui icon button" onclick="scrollToBottom()">
          <i class="angle down icon"></i>
        </button>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/code/address.js?hash=80d7734"></script>

{% endblock %}
