{% extends "base.html" %}

{% import "components/loader.html" as loader %}

{% block body_classes %}overflow-y-scroll{% endblock %}
{% block footer_classes %}hidden{% endblock %}

{% block content %}
  <div class="ui container">
    <div id="blocks-table" class="block-listing__datatable-container"></div>
    {% call loader::render() %}
  </div>

  <div class="ui container">
    <div id="pagination" class="bottom-pagination" data-last-block-height="{{ last_block_height }}">
    </div>
  </div>

  <script type="text/javascript" src="/code/blocks.js"></script>
{% endblock %}
