{% extends "base.html" %}

{% block content %}
  <div class="ui container">
    <h1>Block #{{ block_meta.height }}</h1>

    <div class="ui segment">
      <strong>Hash: </strong>
      <span class="hex">{{ block_hash_string }}</span>
    </div>

    <div class="ui grid">
      <div class="six wide column">
        <table class="ui table">
          <tbody>
            <tr>
              <td>Age</td>
              <td>{{ timestamp|human_time }}</td>
            </tr>

            <tr>
              <td>Mined on</td>
              <td class="moment__timestamp" data-timestamp="{{ block_meta.timestamp }}"></td>
            </tr>

            <tr>
              <td>Unix Timestamp</td>
              <td>{{ block_meta.timestamp|i64_to_u64|render_integer|safe }}</td>
            </tr>

            <tr>
              <td>Mined by</td>
              <td>Unknown</td>
            </tr>

            <tr>
              <td>Confirmations</td>
              <td>{{ confirmations }}</td>
            </tr>

            <tr>
              <td>Size</td>
              <td>{{ block_meta.size|render_human_size }} ({{ block_meta.size|render_integer_smallify|safe }} B)</td>
            </tr>

            <tr>
              <td>Transactions</td>
              <td>{{ block_meta.num_txs }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="ten wide column">
        <table class="ui table">
          <tbody>
            <tr>
              <td>Difficulty</td>
              <td>{{ block_meta.difficulty|render_difficulty|safe }}</td>
            </tr>

            <tr>
              <td>Header</td>
              <td>
                <div class="hex">{{ block_header|hexify_block_header }}</div>
              </td>
            </tr>

            <tr>
              <td>Nonce</td>
              <td>{{ block_meta.nonce }}</td>
            </tr>

            <tr>
              <td>Coinbase data</td>
              <td>{{ block_meta.coinbase_data|string_from_lossy_utf8 }}</td>
            </tr>

            <tr>
              <td>Coinbase hex</td>
              <td>
                <div class="hex">{{ block_meta.coinbase_data|hexify_u8_vector_bytes }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ui segment">
      <h2 class="ui header">Transactions</h2>
      <div id="block-txs">
        <div id="txs-table"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/data/block/{{ block_hash_string }}/dat.js"></script>
  <script type="text/javascript" src="/code/txs.js?hash=80d7734"></script>
  <script type="text/javascript" src="/code/timestamps.js?hash=80d7734"></script>
{% endblock %}
