{% extends "base.html" %}

{% import "components/loader.html" as loader %}

{% block content %}
  <div class="ui container">
    <div id="blocks-table" class="block-listing__datatable-container"></div>
    {% call loader::render() %}
  </div>

  <div class="ui container">
    <div id="pagination" class="bottom-pagination" data-last-block-height="{{ last_block_height }}">
      <p></p>
      <div class="ui pagination menu">
        {% for page in pages %}
          {% if pages|not_contains(page) %}
            {% if pages|pagination_prev_enabled(page) %}
              <a class="item" href="{{ query_string }}{{ page|checked_sub(2) }}">
                {{ page|checked_sub(1) }}
              </a>
            {% else %}
              <div class="item disabled">
                ...
              </div>
            {% endif %}
          {% endif %}

          <a class="item" href="{{ query_string }}{{ page }}">
            {{ page }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/code/blocks.js"></script>
{% endblock %}
